<h1>Login</h1>
<%= form_with url: admin_session_path, local: true, html: { class: 'login-form' } do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Login" %>
  </div>
<% end %>

