<h1>Products</h1>
<div id = "adminProductsTable">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class = "productTableData"><%= product.product_name %></td>
        <td class = "productTableData"><%= product.description %></td>
        <td class = "productTableData"><%= product.price %></td>
        <td class = "productTableData"><%= product.stock_quantity %></td>
        <td>
          
          <%= form_with url: destroy_admin_product_path(product), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } do |form| %>
  <%= form.submit 'Delete' %>
<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>