<h1>Available Products</h1>
<%= link_to 'Cart', cart_path %>
<br>
<%= render 'shared/category_link' %>
<br>
 <%= render 'shared/search_link' %>
 <br>
 <%= render 'shared/admin_link' %>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.product_name, product_path(product) %>
    </li>
  <% end %>
</ul>